@{
    ViewData["Title"] = "Home Page";
}
<div class="text-lg max-w-prose mx-auto">

    <h1 class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        Hello world!
    </h1>

    <p class="mt-8 text-xl text-gray-500 leading-8">This is a demo .net core app, that uses TailwindCSS in Visual Studio.</p>
</div>